@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&display=swap");
/*header*/
.header {
    display: flex;
    width: 100%;
    height: 5vw;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5vw;
    &__toriel1 {
        width: 10vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 2vw;
        margin-left: 6vw;
    }
    &__toriel2 {
        width: 20vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        word-spacing: 1.5vw;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2vw;
    }
    &__toriel3 {
        width: 10vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4vw;
    } 
    &__b1 {
        width: 8vw;
        height: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0E1734;
        border-radius: 4px;
        color: white;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 0.8vw;
        border: none
    }
}
/*block2*/
.portus {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    &__subportus1 {
        width: 50%;
        height: 45vw;
        display: flex;
        align-content: space-around;
        align-items: flex-end;        
        justify-content: space-evenly;
        flex-direction: column;
        margin-right: 8vw;  
    }
    &__podportus1 {
        width: 35vw;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        line-height: 150%;
        letter-spacing: -0.01em;
        word-wrap: break-word;
        margin-top: 8vw;
    }  
    &__podportus2 {
        width: 30vw;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 150%;
        color: #848FAC;
        text-align: left;
        margin-right: 5vw;
    }
    &__podportus3 {
        display: flex;
        
    }
    &__b2 {
        margin-right: 28vw;
        width: 7vw;
        height: 2.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0E1734;
        border-radius: 4px;
        color: white;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 0.6vw;
        border: none;
        margin-bottom: 8vw;
    }
    &__subportus2 {
        width: 50%;
        height: 45vw;
        display: flex;
        
    }
    &__podportus4 {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        margin-top: 5vw;
    }
    &__podportus5 {
        width: 33.3%;
        height: 40%;
    }
    &__podportus6 {
        width: 33.3%;
        height: 40%;
        margin-top: 3.3vw;
    }
    &__podportus7 {
        width: 33.3%;
        height: 40%;
    }
    &__img {
        width:11vw;
        height: 36vw;
    }
}
/*block3*/
.Amogus {
   width: 100%;
   display: flex;
    &__LoveMyFox {
        width: 40%;
        height: 45vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        margin-left: 7.1vw;
    }
        &__joke {
            width: 25vw;
            height: 35vw;
        }
    &__SunnyDay {
        width: 60%;
        height: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 11vw;
    }
        &__pop {
            width: 40vw;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 3vw;
            line-height: 150%;
            letter-spacing: -0.01em;
            word-wrap: break-word;
            margin-top: 8vw;
            }
        &__kop {
            width: 35vw;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1vw;
            line-height: 150%;
            color: #848FAC;
            text-align: left;
            margin-right: 5vw;
        }
        &__pok {
            width: 35vw;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1vw;
            line-height: 150%;
            color: #848FAC;
            text-align: left;
            margin-right: 5vw;
        }
}
/*block4*/
.Joseph {
    width: 100%;
    display: flex;
    background-color: salmon;
    flex-direction: column;
    &__Korm {
        width: 40vw;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        line-height: 150%;
        letter-spacing: -0.01em;
        word-wrap: break-word;
        margin-top: 8vw;
    }
    &__kop {
        width: 35vw;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 150%;
        color: #848FAC;
        text-align: left;
        margin-right: 5vw;
    }
    &__Jotaro {
        width: 100%;
        height: 30vw;
        display: flex;  
      }
          &__Dio {
              width: 40%;
              display: flex;
          }
          &__Kabachok {
              width: 60%;
              display: flex;
          }
      &__LisaLisa {
          width: 100%;
          height: 30vw;
          display: flex;
      }
          &__NICE {
              width: 60%;
              display: flex;
          }
          &__Mother {
              width: 40%;
              display: flex;
          }
}
/*block5*/
.Ghibly {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__Porko {
        width: 100%;
        height: 20vw;
        background-color: seagreen;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
        &__Rosso {
            width: 7.4vw;
            height: 2.4vw;
            background: #0E1734;
            border-radius: 4px;
            color: white;
            box-shadow: none;
            border: none;
            text-align: center;
            font-size: 0.8vw;
        }
    &__Totoro {
        width: 100%;
        height: 30vw;
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: space-around
    }
        &__img {
          width: 33.3%;  
          height: 15vw;
          background-color: green;
        }
}
/*footer*/
.footer { 
    width: 100%;
    height: 30vw;
    background-color: #0E1734;
    
    &__shall {
        width: 40%;
        height: 25vw;
        background-color: bisque;
    }
    &__shall1 {
        width: 60%;
        height: 25vw;
        background-color: red;
    }    
}